{{#partial "styles"}}
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/perfil.css">
{{/partial}}
{{#partial "title"}}
    Perfil
{{/partial}}
{{#partial "contenido"}}
    <div id="contenedor_principal" class="container my-4">
        <div class="contenedor_titulo_pagina text-center mb-4 w-100">
            <div class="titulo fs-2">
                <span>MI PERFIL</span>
            </div>
        </div>
        <div class="contenedor_datos">
            <div class="titulo_datos fs-3 text-center mb-3">MIS DATOS</div>
            {{#block "formulario"}}{{/block}}
        </div>
    </div>

    <!-- boton volver al menu principal -->
    <div class="d-flex justify-content-center mb-4">
        <a href="/home" class="btn btn-primary" style="font-size: 1.5rem; padding: 1rem 2rem;">
            <i class="bi bi-house-door-fill"></i>
            Volver al menú
        </a>
    </div>
{{/partial}}
{{#partial "scripts"}}
    <script type="text/javascript" src="../js/usuarios/colaboradores/{{#block "script"}}{{/block}}.js"></script>
{{/partial}}
{{> home/base}}
