target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.codebuddy/
/src/main/resources/config.properties
### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

#imagenes
/uploads
src/main/resources/public/img/ofertas
src/main/resources/public/img/visitas

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/resources/META-INF/MANIFEST.MF
/.idea/artifacts/tpa_componentes_jar.xml

###Persistencia

src/main/resources/META-INF/persistence.xml

##files
diagramaDeComponentesYDespliegueServicio2.drawio
servicio.plantuml
tpa_componentes.iml