{{#partial "styles"}}
    <link rel="stylesheet" href="/css/usuarios/usuarios.css">
    <link rel="stylesheet" href="/css/usuarios/colaboradores/perfil.css">
{{/partial}}
{{#partial "title"}}
    Perfil
{{/partial}}
{{#partial "contenido"}}
    <div id="contenedor_principal" class="container my-4">
        <div class="contenedor_titulo_pagina text-center mb-4 w-100">
            <div class="titulo fs-2">
                <span>MI PERFIL</span>
            </div>
        </div>
        <div class="contenedor_datos">
            <div class="titulo_datos fs-3 text-center mb-3">MIS DATOS</div>
            {{#if juridico}}
            <form id="form_juridico">
                <div class="row justify-content-center g-3 mb-4">
                    <div class="col-md-8">
                        <div class="form-floating">
                            <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nombre_razon_social"
                                   value="Pepe" placeholder="Nombre" disabled>
                            <label for="campo_nombre_razon_social">Razón Social</label>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center g-3 mb-4">
                    <div class="col-md-8">
                        <div class="form-floating">
                            <select class="entrada_form form-select shadow-none rounded-4" id="campo_tipo_empresa" disabled>
                                <option value="1" selected>Empresa</option>
                                <option value="2">Institución</option>
                                <option value="3">Gubernamental</option>
                                <option value="4">ONG</option>
                            </select>
                            <label for="campo_tipo_empresa">Tipo </label>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center g-3 mb-4">
                    <div class="col-md-8">
                        <div class="form-floating">
                            <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nombre_razon_social"
                                   value="Electronica" placeholder="Rubro" disabled>
                            <label for="campo_nombre_razon_social">Rubro </label>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center g-3 mb-4">
                    <div class="col-md-8">
                        <div class="form-floating">
                            <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_direccion_juridico"
                                   value="Calle Falsa 123" placeholder="Dirección" disabled>
                            <label for="campo_direccion_juridico">Dirección</label>
                        </div>
                    </div>
                </div>

                <div class="mt-3 mb-2 fst-italic text-muted text-center">- Seleccione la forma de contacto principal -</div>

                <div class="row g-3 mb-4 text-center">
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-text rounded-start-4">
                                <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                       name="campo_contacto_preferido_juridico" checked disabled>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                       id="campo_whatsapp_juridico" value="123456789" placeholder="WhatsApp" disabled>
                                <label for="campo_whatsapp_juridico">WhatsApp</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-text rounded-start-4">
                                <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                       name="campo_contacto_preferido_juridico" disabled>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                       id="campo_telegram_juridico" value="987654321" placeholder="Telegram" disabled>
                                <label for="campo_telegram_juridico">Telegram</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-text rounded-start-4">
                                <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                       name="campo_contacto_preferido_juridico" disabled>
                            </div>
                            <div class="form-floating flex-grow-1">
                                <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                       id="campo_email_juridico" value="pepe@ejemplo.com" placeholder="Email" disabled>
                                <label for="campo_email_juridico">Email</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="cont_editar_form_juridico" class="row justify-content-center mb-4 py-4">
                    <div class="col-6 col-md-4">
                        <button id="btn_editar_form_juridico" type="button" class="boton py-1 w-100"><span>EDITAR</span></button>
                    </div>
                </div>

                <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <strong>Atención:</strong> El medio seleccionado como principal será utilizado para recibir todas las notificaciones.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div id="cont_cancelar_guardar_form_juridico" class="row justify-content-around d-none mb-4">
                    <div class="col-6 col-md-4">
                        <button id="btn_cancelar_form_juridico" type="button" class="boton boton_rojo py-1 w-100"><span>CANCELAR</span></button>
                    </div>
                    <div class="col-6 col-md-4">
                        <button id="btn_guardar_form_juridico" type="button" class="boton boton_verde py-1 w-100"><span>GUARDAR</span></button>
                    </div>
                </div>
            </form>
            {{else if tecnico}}
<form id="form_tecnico">
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nombre_tecnico"
                                    value="Tecnico" placeholder="Nombre" disabled>
                                <label for="campo_nombre_tecnico">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_apellido_tecnico"
                                    value="Argento" placeholder="Apellido" disabled>
                                <label for="campo_apellido_tecnico">Apellido</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="entrada_form form-select shadow-none rounded-4" id="campo_tipo_documento_tecnico" disabled>
                                    <option value="1" selected>DNI</option>
                                    <option value="2">LC</option>
                                    <option value="3">LE</option>
                                </select>
                                <label for="campo_tipo_documento_tecnico">Tipo Documento</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nro_documento_tecnico"
                                    value="123456789" placeholder="Nro Documento" disabled>
                                <label for="campo_nro_documento_tecnico">Nro Documento</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4"
                                    id="campo_cuil_tecnico" value="20-40999444-9" placeholder="CUIL" disabled>
                                <label for="campo_cuil_tecnico">CUIL</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_area_de_cobertura_tecnico"
                                    value="Zona Norte" placeholder="Area de cobertura" disabled>
                                <label for="campo_area_de_cobertura_tecnico">Area de cobertura</label>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 mb-2 fst-italic text-muted text-center">- Seleccione la forma de contacto principal -</div>

                    <div class="row g-3 mb-4 text-center">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text rounded-start-4">
                                    <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                        name="campo_contacto_preferido_tecnico" checked disabled>
                                </div>
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                        id="campo_whatsapp_tecnico" value="123456789" placeholder="WhatsApp" disabled>
                                    <label for="campo_whatsapp_tecnico">WhatsApp</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text rounded-start-4">
                                    <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                        name="campo_contacto_preferido_tecnico" disabled>
                                </div>
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                        id="campo_telegram_tecnico" value="987654321" placeholder="Telegram" disabled>
                                    <label for="campo_telegram_tecnico">Telegram</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text rounded-start-4">
                                    <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                        name="campo_contacto_preferido_tecnico" disabled>
                                </div>
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                        id="campo_email_tecnico" value="pepe@ejemplo.com" placeholder="Email" disabled>
                                    <label for="campo_email_tecnico">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="cont_editar_form_tecnico" class="row justify-content-center mb-4 py-4">
                        <div class="col-6 col-md-4">
                            <button id="btn_editar_form_tecnico" type="button" class="boton py-1 w-100"><span>EDITAR</span></button>
                        </div>
                    </div>

                    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong>Atención:</strong> El medio seleccionado como principal será utilizado para recibir todas las notificaciones.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <div id="cont_cancelar_guardar_form_tecnico" class="row justify-content-around d-none mb-4">
                        <div class="col-6 col-md-4">
                            <button id="btn_cancelar_form_tecnico" type="button" class="boton boton_rojo py-1 w-100"><span>CANCELAR</span></button>
                        </div>
                        <div class="col-6 col-md-4">
                            <button id="btn_guardar_form_tecnico" type="button" class="boton boton_verde py-1 w-100"><span>GUARDAR</span></button>
                        </div>
                    </div>
                </form>
            {{else if fisico}}
            <form id="form_fisico">
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nombre_fisico"
                                    value="Pepe" placeholder="Nombre" disabled>
                                <label for="campo_nombre_fisico">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_apellido_fisico"
                                    value="Argento" placeholder="Apellido" disabled>
                                <label for="campo_apellido_fisico">Apellido</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 mb-4">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <select class="entrada_form form-select shadow-none rounded-4" id="campo_tipo_documento_fisico" disabled>
                                    <option value="1" selected>Opción 1</option>
                                    <option value="2">Opción 2</option>
                                    <option value="3">Opción n</option>
                                </select>
                                <label for="campo_tipo_documento_fisico">Tipo Documento</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_nro_documento_fisico"
                                    value="123456789" placeholder="Nro Documento" disabled>
                                <label for="campo_nro_documento_fisico">Nro Documento</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4"
                                    id="campo_fecha_nacimiento_fisico" value="01/01/1980" placeholder="Fecha de Nacimiento" disabled>
                                <label for="campo_fecha_nacimiento_fisico">Fecha de Nacimiento</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="entrada_form form-control shadow-none rounded-4" id="campo_direccion_fisico"
                                    value="Calle Falsa 123" placeholder="Dirección" disabled>
                                <label for="campo_direccion_fisico">Dirección</label>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 mb-2 fst-italic text-muted text-center">- Seleccione la forma de contacto principal -</div>

                    <div class="row g-3 mb-4 text-center">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text rounded-start-4">
                                    <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                        name="campo_contacto_preferido_fisico" checked disabled>
                                </div>
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                        id="campo_whatsapp_fisico" value="123456789" placeholder="WhatsApp" disabled>
                                    <label for="campo_whatsapp_fisico">WhatsApp</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text rounded-start-4">
                                    <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                        name="campo_contacto_preferido_fisico" disabled>
                                </div>
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                        id="campo_telegram_fisico" value="987654321" placeholder="Telegram" disabled>
                                    <label for="campo_telegram_fisico">Telegram</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-text rounded-start-4">
                                    <input class="entrada_form form-check-input mt-0 shadow-none" type="radio"
                                        name="campo_contacto_preferido_fisico" disabled>
                                </div>
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="entrada_form form-control shadow-none rounded-end-4"
                                        id="campo_email_fisico" value="pepe@ejemplo.com" placeholder="Email" disabled>
                                    <label for="campo_email_fisico">Email</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="cont_editar_form_fisico" class="row justify-content-center mb-4 py-4">
                        <div class="col-6 col-md-4">
                            <button id="btn_editar_form_fisico" type="button" class="boton py-1 w-100"><span>EDITAR</span></button>
                        </div>
                    </div>

                    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <strong>Atención:</strong> El medio seleccionado como principal será utilizado para recibir todas las notificaciones.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>


                    <div id="cont_cancelar_guardar_form_fisico" class="row justify-content-around d-none mb-4">
                        <div class="col-6 col-md-4">
                            <button id="btn_cancelar_form_fisico" type="button" class="boton boton_rojo py-1 w-100"><span>CANCELAR</span></button>
                        </div>
                        <div class="col-6 col-md-4">
                            <button id="btn_guardar_form_fisico" type="button" class="boton boton_verde py-1 w-100"><span>GUARDAR</span></button>
                        </div>
                    </div>
                </form>
            {{/if}}
        </div>
    </div>

    <!-- boton volver al menu principal -->
    <div class="d-flex justify-content-center mb-4">
        <a href="dashboard_colaborador_juridico.html" class="btn btn-primary" style="font-size: 1.5rem; padding: 1rem 2rem;">
            <i class="bi bi-house-door-fill"></i>
            Volver al menú
        </a>
    </div>
{{/partial}}
{{#partial "scripts"}}
    <script type="text/javascript" src="../js/usuarios/colaboradores/{{#if juridico}}perfil_juridico{{else if tecnico}}perfil_tecnico{{else if fisico}}perfil{{/if}}.js"></script>
{{/partial}}
{{> templates/home/base}}
